h1{
	font-family: Josefin Sans;
	font-weight: 900;
	text-align: center;
	color: #4F184E;
	font-size: 3em;

}

.homeParagraph{
	font-family: Josefin Sans;
	font-weight: 300;
	text-align: center;
	color: #424242;
	font-size: .5em;
}

.getStartedParagraph{
	font-family: Josefin Sans;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
}

.getStartedBtn a{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:50%;
	background:#F5B8F4;
	color: purple;
	font-family: Josefin Sans;
	font-size: 1em;
}

img.logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
}

.page-header{
	text-align: center;
	color: purple;
	font-family: Josefin Sans;
	background:#ECDFED;
	height: 100px;
	margin-bottom: 20px;
}

#caregiverForm, #childsNameForm, #todaysDate, #activity, #notesForTheDay, #activityDuration{
	background-color:#986D9C; 
	width: 40%;
	border-width:5px;	
	border-style:hidden;
	border-radius: 25px;
	padding:80px;
	margin:10px;
	display: block;
}

input[type=text]{ 
	background-color: #F5B8F4;
    color: black;
    padding: 15px;
    margin-left:auto;
    margin-right: auto;
    display: block;
    border: hidden;
    border-radius: 25px;
    text-align: center;
    width: 200px;

}

body{ /*need to fix this*/
	background: #ECDFED;
	background-image: url(../images/crayon-background.jpeg);
	overflow:scroll;
}

.btn-group.btn-group-justified{

	margin: 0 auto;
	padding-top: 20px;
	width:50%;
}

.caregiversName, .childsName, .todaysDate, .activity, .notesForTheDay, .activityDuration{
	font-family: Josefin Sans;
	font-size: 25px;
	padding-bottom: 25px;
	text-align: center;

}

.tab-control{
	display: inline;
	border-radius: 25px;
	border: hidden;
	text-align: center;
	width: 100px;
	height: 25%;
	background:#F5B8F4;
}

.active.tab-control{
	display: inline-block;
	border-radius: 25px;
	border: hidden;
	text-align: center;
	width: 100px;
	height: 25%;
	background:purple;
}

.tab-panel{
	display: none;
}
.tab-panel.active{
	display: block;
}


li{
	text-decoration: none;
}

#notepad{
	text-align:center;
}

footer{
	background: #762B80;
	height:75%;
}

.clearAllButton{
	text-align: center;
}


