/*body{
	
	background-image:url(images/young-game-match-kids.jpg);
	width:10%;
	margin: 5%%

}*/

/*main{
	height: 75%
}*/

#mainHeader{
	text-align: center;
	display: block;
	font-weight: 600;
	color: orange;
	font-family: 'Josefin Sans', sans-serif;
	border: 2px;

}

.mainHeaderSpan{
	font-family: 'Josefin Sans';
}

.topSection{
	background: gray;
	
}

.childsName{
	background: pink;
	
}

.timeSection{
	background: blue;
	
}

.activitySection{
	background: purple;
	
}

.durationSection{
	background: red;
	
}

/*.notesSection.row{
	background: green;*/
	
}

footer{
	background: yellow;
	border: 2px;
	margin-top:500px;
	padding: 50px;
	width: 100%;
	height: 25%;
	text-align: center;
}

.navbar{
	background: yellow;
}

